body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Cor de fundo opcional */
    font-family: 'Arial', sans-serif; /* Altere para a fonte desejada */
}

/* Estilos para o cabeçalho */
header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
    border-bottom: 5px solid #9810f3; /* Adicionando borda inferior ao cabeçalho */
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar a:hover {
    color: #9810f3;
  }

.logo img {
    width: 80px;
    height: 50px;
    margin-left: 50px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.notification {
    font-size: 24px;
    cursor: pointer;
    display: inline-block; /* Alteração para inline-block */
    margin-right: 10px; /* Adição de margem para separação */
}

.profile-options {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Posiciona o popup abaixo do avatar */
    right: 10px; /* Alinha o popup à direita */
    background-color: #fff; /* Fundo branco */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
}

.profile-options a {
    display: block;
    color: #333; /* Cor do texto */
    text-decoration: none;
    padding: 8px 0; /* Adiciona preenchimento aos links */
}

.profile-options a:hover {
    background-color: #f0f0f0; /* Cor de fundo no hover */
    border-radius: 3px; /* Arredonda os cantos no hover */
}

/* Estilos para o botão do menu */
.menu-icon {
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


.dashboard-section {
    border: 2px solid #9810f3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center; /* Centraliza os elementos */
   /* margin-right: 20px; /* Adiciona espaço à direita */
}

.dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adiciona margem superior entre os cards e o título */
}

.dashboard-card {
    flex: 1;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transition: box-shadow 0.3s, transform 0.3s; /* Adiciona uma transição suave para a sombra e escala */
}

.dashboard-card a {
    text-decoration: none;
    color: #9810f3;
    font-weight: bold;
    display: block;
    text-align: center;
}

.dashboard-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa no hover */
    transform: scale(1.09); /* Aumenta a escala do card no hover */
    cursor: pointer;
}
