body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #030303; /* Cor de fundo opcional */
    font-family: 'Arial', sans-serif; /* Altere para a fonte desejada */
}

/* Estilos para o cabeçalho */
header {
    position: fixed; /* Define o cabeçalho como posicionado de forma fixa */
    top: 0; /* Alinha o cabeçalho no topo da tela */
    width: 100%; /* Define a largura do cabeçalho como 100% da largura da tela */
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification {
    font-size: 24px;
    cursor: pointer;
    display: inline-block; /* Alteração para inline-block */
    margin-right: 10px; /* Adição de margem para separação */
}


/* Estilo para a barra de navegação */
.navbar {
    position: fixed;
    top: 0;
    left: -200px; /* Inicialmente, a barra de navegação estará fora da tela */
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 20; /* Certifique-se de que a barra de navegação esteja acima da camada semi-transparente */
    transition: left 0.3s; /* Adiciona uma transição suave para o movimento da barra de navegação */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    margin-bottom: 15px; /* Aumenta o espaçamento entre os itens */
    border-bottom: 1px solid #555; /* Adiciona uma borda inferior para separação visual */
    transition: background-color 0.3s; /* Adiciona uma transição suave para o hover */
}

.navbar ul li:last-child {
    margin-bottom: 0; /* Remove o espaçamento inferior do último item */
}

.navbar ul li a {
    display: block;
    padding: 10px; /* Adiciona preenchimento aos links para facilitar o clique */
    color: #fff;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #555; /* Altera a cor de fundo no hover */
}


/* Estilos para o botão do menu */
.menu-icon {
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


.profile-options {
    display: none;
    position: absolute;
    top: calc(100% + 10px); /* Posiciona o popup abaixo do avatar */
    right: 10px; /* Alinha o popup à direita */
    background-color: #fff; /* Fundo branco */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
}

.profile-options a {
    display: block;
    color: #333; /* Cor do texto */
    text-decoration: none;
    padding: 8px 0; /* Adiciona preenchimento aos links */
}

.profile-options a:hover {
    background-color: #f0f0f0; /* Cor de fundo no hover */
    border-radius: 3px; /* Arredonda os cantos no hover */
}


.dashboard-section {
    border: 2px solid #9810f3;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center; /* Centraliza os elementos */
    margin-right: 20px; /* Adiciona espaço à direita */
}

.dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adiciona margem superior entre os cards e o título */
}

.dashboard-card {
    flex: 1; /* Faz os cards ocuparem o mesmo espaço */
    margin: 0 10px; /* Adiciona espaçamento horizontal entre os cards */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.dashboard-card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    text-align: center;
}

.dashboard-card:hover {
    background-color: #f0f0f0; /* Cor de fundo no hover */
}

/* Estilos para pop-ups (opcional) */
/* Estilos para o popup */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 9999; /* Certifique-se de que o popup esteja na frente de outros elementos */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

.popup h2 {
    margin-bottom: 10px;
    color: #ff0000; /* Cor do título do popup */
}

.popup p {
    margin-bottom: 15px;
}

.popup button {
    background-color: #9810f3;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #7a0cc9;
}

