.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 600px;
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Defina uma largura máxima para manter o conteúdo legível */
    padding: 10px;
    background-color: #f2f2f2; /* Cor de fundo para destacar o conteúdo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar o container */
}

/* Estilos CSS para o contêiner do header e do contêiner com barra de rolagem */
.container {
    max-width: 700px; /* Largura máxima do contêiner */
    margin: 0 auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column;
    max-height: 500px; /* Altura máxima do contêiner */
    overflow: auto; /* Adiciona barra de rolagem vertical quando necessário */
}

/* Estilos CSS para o header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666565; 
    color: #fff;
    padding: 10px 20px;
}

.header span {
    font-weight: bold;
}

/* Estilos CSS para os itens */
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f2f2f2;
    margin-top: 10px;
}

.item span {
    font-weight: bold;
}

.item .delete-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos CSS para a modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Definindo a largura do modal */
    max-width: 600px; /* Largura máxima do modal */
    max-height: 80%; /* Altura máxima do modal */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Estilos adicionais para o modal de acordo com o estilo fornecido */

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(207, 0, 248, 0.973);
}

.form-group {
    margin-bottom: 15px;
    width: auto;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos adicionais para os inputs dentro de .form-group */
.form-group input,
.form-group select {
    position: relative;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.5s;
}

.form-group input:focus,
.form-group input:hover,
.form-group select:focus,
.form-group select:hover {
    border-color: purple;
}

.form-group input:focus,
.form-group input:hover,
.form-group select:focus,
.form-group select:hover {
    border-color: purple;
}

.form-group input::placeholder {
    color: #999;
}

.price-container {
    position: relative;
}


/* Estilizando o prefixo "R$" no input de preço */
.form-group .price-input::before {
    content: "R$"; /* Texto do prefixo */
    position: absolute;
    left: 10px; /* Ajuste de posição */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%);
    color: #555; /* Cor do prefixo */
}

.form-group button {
    background-color: #9810f3;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.form-group button:hover {
    background-color: #7a0cc9;
}

.logo-container {
    margin-bottom: 10px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

