  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Cor de fundo opcional */
    font-family: 'Arial', sans-serif; /* Altere para a fonte desejada */
  }

  /*Logo do login*/
  .logo-container {
    margin-bottom: 10px;
  }

  .logo-container img {
    max-width: 100%;
    height: auto;
  }


  /*Container do login*/
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(207, 0, 248, 0.973);
  }


  .form-group {
    margin-bottom: 15px;
    width: auto;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.5s;
  }

  .form-group input:focus,
  .form-group input:hover {
    border-color: purple; /* Altera a cor da borda quando o campo está em foco ou hover */
  }

  /*Botao de Entrar*/
  .form-group button {
    background-color: #9810f3;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
  }

  .form-group button:hover {
    background-color: #7a0cc9;
  }

  /*Novo user + Esqueceu*/
  .form-options {
    margin-top: 10px;
    text-align: center;
  }

  .form-options a {
    text-decoration: none;
    color: #007bff;
  }

  .form-options a:hover {
    text-decoration: underline;
    color: rgba(44, 7, 253, 0.979)
  }

  .dashboard-section {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center; /* Centraliza os elementos */
   /* margin-right: 20px; /* Adiciona espaço à direita */
}

.dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adiciona margem superior entre os cards e o título */
}

.dashboard-card {
  flex: 1;
  margin: 0 5px; /* Reduzindo a margem para separação entre os cards */
  width: 150px; /* Definindo uma largura menor */
  height: 100px; /* Definindo uma altura menor */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.dashboard-card h1 {
    text-decoration: none;
    color: #9810f3;
    font-weight: bold;
    display: block;
    text-align: center;
}

.dashboard-card:hover {
    box-shadow: 0 0 20px rgba(0, 17, 255); /* Adiciona uma sombra mais intensa no hover */
    transform: scale(1.09); /* Aumenta a escala do card no hover */
    cursor: pointer;
}
.selected-card {
  box-shadow: 0 0 20px rgb(0, 17, 255);
  transform: scale(1.03);
} 

.day {
  margin-bottom: 10px;
}

.day label {
  font-weight: bold;
  margin-right: 10px;
}

.day input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.day input[type="text"] {
  width: 120px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.day input[type="text"]:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}
